@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700,700italic);
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #000;
    font-size: 13pt;
    font-family: Avenir, "Open Sans", "Helvetica Neue", Helvetica, Arial, Verdana, Roboto, "游ゴシック", "Yu Gothic", "游ゴシック体", "YuGothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "Meiryo UI", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif !important;
    color: white !important;
}

h3 {
    font-size: 20%;
}

:focus {
    outline: none;
}

::-moz-focus-inner {
    border: 0;
}

.icr-label.focused .icr-item:after {
    border: 0 !important;
}

#holdon-overlay {
    opacity: 1 !important;
    background-color: transparent!important;
}

.mm-menu {
    width: 200px;
}

.mm-panels > .mm-panel {
    overflow-y: hidden;
}

.mm-panel {
    font-size: 10pt;
}

#header {
    background: transparent;
    color: white;
    overflow: hidden;
    position: relative;
    height: 50px;
    margin-left: 15px;
    visibility: hidden;
}

#header_info {
    width: auto;
    overflow: visible;
    white-space: normal;
    position: relative;
    top: 0;
    bottom: 0;
    margin: auto;
    display: table-cell;
    vertical-align: middle;
    height: 50px;
}

#header_bars {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 10px;
    margin: auto;
    height: 50px;
}

#header_bars > * {
    vertical-align: middle;
    display: inline-block;
}

#header_bars span {
    height: 100%;
    width: 0;
    display: inline-block;
}

#title_texts {
    white-space: nowrap;
}

#title_misc {
    font-size: 10pt;
    text-align: right;
    margin-left: 0px;
    white-space: nowrap;
}

#title {
    font-weight: bold;
}

#header_bars a:hover,
#header_bars a:visited,
#header_bars a:link {
    color: white;
    border: solid 1px transparent;
    padding: 3px;
    display: block;
}

#header_bars a:hover,
#header a:active {
    text-decoration: none;
    /*    border: solid 1px white;*/
}

a:hover .fa {
    color: lightgray;
}

a:hover .fa-home {
    color: darkseagreen;
}

a:hover .fa-twitter {
    color: deepskyblue;
}

a:hover .fa-camera-retro {
    color: darkorange;
}

#menu {
    text-decoration: none;
    color: white;
    visibility: hidden;
}

#menu a:hover,
#menu a:visited,
#menu a:link {
    text-decoration: none;
    color: white;
}

#menu_header {
    font-size: 13pt;
    width: 171px;
    overflow: visible;
    margin-left: -5px;
    margin-top: -5px;
    margin-bottom: 20px;
    float: none;
    clear: both;
}

#menu_header > div {
    width: calc((100% * 1/3));
    float: left;
}

#menu_header_misc {
    text-align: left;
}

#menu_header_link {
    text-align: center;
    font-family: Impact, fantasy;
    line-height: 1.3;
}

#menu_header_link a:hover {
    color: gold;
}

#menu_header_close {
    text-align: right;
}

.menu_box {
    margin-top: 5px;
    padding-top: 10px;
}

.menu_box_header {
    padding-bottom: 5px
}

#playside_button {
    margin-top: 5px;
    white-space: nowrap;
}

#playside_button label {
    width: 50%;
    margin-right: 0;
    padding-right: 0;
}

#option_button, #option_button_2p {
    margin-top: 5px;
    white-space: normal;
}

#option_button label, #option_button_2p label {
    width: 100%;
    margin-right: 0;
    padding-right: 0;
}

#random_pattern, #random_pattern_2p {
    display: table;
    white-space: nowrap;
    margin-top: 5px;
    margin-left: 20px;
    width: 110px;
}

#random_pattern_input, #random_pattern_input_2p {
    text-align: right;
    width: 100%;
    height: 22px;
}

#random_pattern_auto_button, #random_pattern_auto_button_2p {
    width: 25px;
    height: 25px;
    margin-left: 3px;
    padding: 0px;
    border: none;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -webkit-appearance: none;
}

.jFiler-input-dragDrop {
    width: 100%;
    border-style: solid;
    border-width: 2px;
    border-color: gray;
    height: auto;
}

.jFiler {
    font-family: inherit;
}

.jFiler-input-text {
    font-size: 15px;
    line-height: 120%;
}
